# Dependencias
node_modules/
package-lock.json
yarn.lock

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

